@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,700;0,900;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,900;1,600&family=Roboto:ital@1&display=swap");
.link-style {
  text-decoration: none;
}

.image-border-style {
  box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, 0.3);
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-color: #bbb;
  animation-name: morph;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  width: 300px;
  height: 300px;
  background-image: url("./images/someone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

@keyframes morph {
  0% {
    box-shadow: inset 0 0 0 9px hsla(0, 0%, 100%, 0.3);
    border-radius: 80% 40% 30% 70%/60% 30% 70% 40%;
    background-color: #bbb;
  }
  100% {
    border-radius: 30% 60% 55% 50%/45% 30% 30% 20%;
    background-color: #bbb;
  }
}

.app-col-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-toggle-mode {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
}
.app-second-col {
  @media (max-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
  }
}
.dark-light-toggle-state {
  @media (max-width: 767px) {
    display: none;
  }
}
.navbar-margin-padding {
  margin: 0;
  padding-left: 0;
}

.typeanimeLight {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}
.typeanimeDark {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 24px;
}
.texts-color {
  color: #bbb;
}
.toggle-style {
  background-color: gray;
  border-radius: 30px 0 0 30px;
  width: 50px;
  padding: 8px;
}
.navbar-container {
  padding-left: 5rem;
}
@media (min-width: 768px) {
  .custom-md-padding {
    padding-left: 5rem;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .nav-responsive {
    display: block;
  }
}

@media (max-width: 768px) {
  .content-style {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .social-media-style {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .app-toggle-mode {
    display: none;
  }
}

@media (max-width: 1200px) {
  .app-nav-col {
    display: none;
  }
}

.navbar-toggle-button-light {
  background-color: gray;
  border-radius: 40px;

}
.navbar-toggle-button-dark {
  background-color: gray;
  border-radius: 40px;

}
.navbar-links-hover > a:hover {
  letter-spacing: 2px;
}
.navbar-link-style-dark {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: normal;
  transition: letter-spacing 0.4s ease;
}
.navbar-link-style-light {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: normal;
  transition: letter-spacing 0.4s ease;
}
.navbar-cardiffLight {
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  margin-bottom: 1.5rem;
}
.navbar-cardiffDark {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  margin-bottom: 1.5rem;
}
.api-p {
  border: 1px solid black;
  border-radius: 15px;
}

.home-MynameDark {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.home-MynameLight {
  color: #fff;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.home-paragraphLight {
  color: #bbb;
  font-weight: 500;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.home-paragraphDark {
  color: #767676;
  font-weight: 500;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
}
.social-media-style > a {
  transition: transform 0.3s ease;
}
.social-media-style > a:hover {
  transform: translateY(-7px);
  opacity: 0.7;
}

.imageHover:hover {
  scale: 2;
}

.main-image {
  background-image: url("");
}
.offcanvesDark {
  
  background-color: #000;

}
.offcanvesLight{
  background-color: #fff;

}